<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

    <title>A propos</title>

    <link rel="shortcut icon" href="assets/images/gt_favicon.png">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
<!--            <a class="navbar-brand" href="conventions.html"><img src="assets/images/logo.png" alt="Progressus HTML5 template"></a>-->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="/">Acceuil</a></li>
                <li class="active"><a href="/about">A propos</a></li>
<!--                <li class="dropdown">-->
<!--                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a href="sidebar-left.html">Left Sidebar</a></li>-->
<!--                        <li><a href="sidebar-right.html">Right Sidebar</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
               <li><a href="/conventions">Conventions</a></li>
               <li><a href="https://iit.tn/contact/">Contact</a></li>
<!--                <li><a class="btn" href="signin.html">SIGN IN / SIGN UP</a></li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->

<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="/">Acceuil</a></li>
        <li class="active">A propos</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-sm-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">A propos</h1>
            </header>
            <h3>Gestion Des Conventions</h3>
            <p><img src="assets/images/salma.jpg" alt="" class="img-rounded pull-right" width="300" > Dans le cadre de ce mini projet, moi; Salma Ghariani, étudiante en 2ème année GLID de l’IIT, a réalisé la conception et la mise en place d’un système de gestion de ces conventions au sein de l'IIT.</p>
            <p>Ainsi, ce système permet à l'administrateur d'ajouter, de modifier, de supprimer et de chercher une convention; ainsi de lister des conventions.</p>
            <p>En utilisant les technologies de présentation suivantes : JSP (Java Server Pages) pour créer du code HTML dynamiquement et d’y intégrer du code java, et JSTL (Jsp Standard Tag Library) qui fournit une sorte de logique de contrôle pour affichage des données dans le code statique HTML.</p>
            <h3>Fonctionnalités :</h3>
            <p> *Filtrage des conventions selon Type / Objet. <br> *Impression d'une convention ou d'un état de conventions résultant d’une recherche.</p>
            <h3>Outils :</h3>
            <p> *Mysql Database <br> *Springbootn *Spring Security <br> *Maven <br> *Hibernate <br> *Spring Data JPA <br> *Spring MVC <br> *Thymeleaf <br> *Bootstrap</p>
            <h3>Environnements :</h3>
            <p>*phpmyadmin <br> *Intellij <br> *StarUML (pour la  modélisation conceptuelle)</p>
<!--            <p>Eum, quasi, est, vitae, ipsam nobis consectetur ea aspernatur ad eos voluptatibus fugiat nisi perferendis impedit. Quam, nulla, excepturi, voluptate minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe, molestias quia voluptatem natus velit fugiat omnis rem eos sapiente quasi quaerat aspernatur quisquam deleniti accusantium laboriosam odio id?</p>-->

        </article>
        <!-- /Article -->

        <!-- Sidebar -->
<!--        <aside class="col-sm-4 sidebar sidebar-right">-->

<!--            <div class="widget">-->
<!--                <h4>Vacancies</h4>-->
<!--                <ul class="list-unstyled list-spaces">-->
<!--                    <li><a href="">Lorem ipsum dolor</a><br><span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span></li>-->
<!--                    <li><a href="">Totam, libero, quis</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span></li>-->
<!--                    <li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span></li>-->
<!--                    <li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>-->
<!--                    <li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span></li>-->
<!--                </ul>-->
<!--            </div>-->

<!--        </aside>-->
        <!-- /Sidebar -->

    </div>
</div>	<!-- /container -->


<footer id="footer" class="top-space">

<!--    <div class="footer1">-->
<!--        <div class="container">-->
<!--            <div class="row">-->

<!--                <div class="col-md-3 widget">-->
<!--                    <h3 class="widget-title">Contact</h3>-->
<!--                    <div class="widget-body">-->
<!--                        <p>+234 23 9873237<br>-->
<!--                            <a href="mailto:#">some.email@somewhere.com</a><br>-->
<!--                            <br>-->
<!--                            234 Hidden Pond Road, Ashland City, TN 37015-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-3 widget">-->
<!--                    <h3 class="widget-title">Follow me</h3>-->
<!--                    <div class="widget-body">-->
<!--                        <p class="follow-me-icons clearfix">-->
<!--                            <a href=""><i class="fa fa-twitter fa-2"></i></a>-->
<!--                            <a href=""><i class="fa fa-dribbble fa-2"></i></a>-->
<!--                            <a href=""><i class="fa fa-github fa-2"></i></a>-->
<!--                            <a href=""><i class="fa fa-facebook fa-2"></i></a>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-6 widget">-->
<!--                    <h3 class="widget-title">Text widget</h3>-->
<!--                    <div class="widget-body">-->
<!--                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>-->
<!--                        <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div> &lt;!&ndash; /row of widgets &ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->

<div class="footer2">
    <div class="container">
        <div class="row">

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="simplenav">
                        <a href="#">Acceuil</a> |
                        <a href="about">A propos</a> |
                        <a href="/conventions">Conventions</a> |
                        <a href="https://iit.tn/contact/">Contact</a> |
                    </p>
                </div>
            </div>

            <div class="col-md-6 widget">
                <div class="widget-body">
                    <p class="text-right">
                        Copyright &copy; 2020, SALMA GHARIANI, 2eme Année GLID.
                    </p>
                </div>
            </div>

        </div> <!-- /row of widgets -->
    </div>
</div>

</footer>





<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="assets/js/headroom.min.js"></script>
<script src="assets/js/jQuery.headroom.min.js"></script>
<script src="assets/js/template.js"></script>
</body>
</html>