<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Participant</title>
</head>
<body>
    <div align="center">
        <h1>Créer un nouveau participant</h1>
        <br/>
        <form action="#" method="post" th:action="@{/save-participant}" th:object="${participant}">
            <table border="0" cellpadding="10">
                <tr>
                    <!--               <tr style="visibility: hidden">-->
                    <!--                   <td>ID :</td>-->
                    <!--                   <td><input type="text" readonly th:field="*{id}"/></td>-->
                    <!--               </tr>-->
                    <!--               <tr>-->
                    <!--                   <td>Prénom :</td>-->
                    <!--                   <td><input required type="text" th:field="*{prenom}" /></td>-->
                    <!--               </tr>-->
                    <!--               <tr>-->
                    <!--                   <td>Nom :</td>-->
                    <!--                   <td><input required type="text"  th:field="*{nom}"/></td>-->
                    <!--               </tr>-->

                </tr>
            </table>

            <button class="btn-primary pull-left" type="submit">Ajouter Participant</button>
            <button class="btn-danger pull-right" type="reset">Fermer</button>
        </form>
    </div>

</body>
</html>